{{!-- {{#if session.loggedIn}} --}}
<div>
  {{#each blogs as |blog|}}
  <div class="blogs">
    <p>{{blog.blog_title}}</p>
    <p>{{blog.user.username}}</p>
    <p>{{blog.creation_date}}</p>
  </div>
  <p>{{blog.blog_content}}</p>
  {{/each}}
</div>
{{!-- {{/if}} --}}