<form action="" class="login-form login">
  <h2>Login</h2>
  <div>
    <label for="username-login">Username</label>
    <input type="text" id="username-login">
  </div>
  <div>
    <label for="password-login">Password</label>
    <input type="password" id="password-login">
  </div>
  <div class="login-btn">
    <button type="submit">Login!</button>
    <a href="/signup">Sign up instead</a>
  </div>
</form>