<form action="" class="signup-form signup">
  <h2>Sign Up</h2>
  <div>
    <label for="username-signup">Username</label>
    <input type="text" id="username-signup">
  </div>
  <div>
    <label for="password-signup">Password</label>
    <input type="password" id="password-signup">
  </div>
  <div class="signup-btn">
    <button type="submit">Sign Up!</button>
    <a href="/login">Login instead</a>
  </div>
</form>