main {
  margin: 10px;
  padding: 10px;
}

header {
  border: black 3px solid;
  margin: 10px;
  padding: 10px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* margin: 15px; */
}

nav a {
  margin: 20px;
  font-size: 135%;
  padding: 12px;
  text-decoration: none;
}

.nav-div{
  margin-left: 15px;
  padding-bottom: 23px;
}

.nav-div h1 {
  width: 300px;
  border: black 3px solid;
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: start; */
  margin-left: 15px;
  height: 60px;
  text-align: center;
  font-size: 200%;
  padding: 10px;
}

.signup-form{
  font-size: 135%;
  border: black 3px solid;
  margin: 20px;
  padding: 20px;
}

h2{
  margin-bottom: 10px;
}

/* .signup-form input[type=text],
.signup-form input[type=password]{
  display: flex;
  flex-direction: column;
} */

.signup-form div{
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.signup-btn{
  align-items: inherit;
}

.login-form{
  font-size: 135%;
  border: black 3px solid;
  margin: 20px;
  padding: 20px;
}

h2{
  margin-bottom: 10px;
}

/* .login-form input[type=text],
.login-form input[type=password]{
  display: flex;
  flex-direction: column;
} */

.login-form div{
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.login-btn{
  align-items: inherit;
}


